@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;1,900&display=swap");
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

* {
  font-family: 'Montserrat', sans-serif; }

.login-screen-container {
  height: 100%; }
  .login-screen-container .login-inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .login-screen-container .login-inputs-container .login-left-panel {
      background-image: url(https://fondosmil.com/fondo/17010.jpg);
      background-size: cover;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .login-screen-container .login-inputs-container .login-left-panel .login-left-content {
        color: #fff;
        position: relative;
        z-index: 2; }
      .login-screen-container .login-inputs-container .login-left-panel:before {
        background-color: rgba(10, 161, 221, 0.5);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 50%;
        z-index: 1; }
    .login-screen-container .login-inputs-container .login-right-panel {
      background-color: #E8F9FD;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .login-screen-container .login-inputs-container .login-right-panel form {
        width: 400px; }
      .login-screen-container .login-inputs-container .login-right-panel .login-text-container {
        width: 400px; }
        .login-screen-container .login-inputs-container .login-right-panel .login-text-container h2 {
          margin-bottom: 0; }
        .login-screen-container .login-inputs-container .login-right-panel .login-text-container p {
          margin-top: 5px;
          font-size: 300; }
      .login-screen-container .login-inputs-container .login-right-panel .inputs-login-container .input-item-login-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px; }
        .login-screen-container .login-inputs-container .login-right-panel .inputs-login-container .input-item-login-container label {
          font-size: 12px; }
        .login-screen-container .login-inputs-container .login-right-panel .inputs-login-container .input-item-login-container input {
          width: 300px;
          height: 30px;
          border-radius: 50px;
          padding: 5px 10px;
          border: 1px solid #A0BCC2;
          margin-top: 5px; }
      .login-screen-container .login-inputs-container .login-right-panel .inputs-login-container .login-cta {
        background-color: #2155CD;
        border-radius: 50px;
        width: 150px;
        border: none;
        height: 40px;
        color: #fff;
        font-weight: 600; }
      .login-screen-container .login-inputs-container .login-right-panel .error-login-container {
        width: 300px;
        background-color: #F47C7C;
        padding: 5px 10px;
        border-radius: 10px;
        margin-bottom: 20px; }
        .login-screen-container .login-inputs-container .login-right-panel .error-login-container p {
          font-size: 12px; }
        .login-screen-container .login-inputs-container .login-right-panel .error-login-container:not(.show-error) {
          display: none; }
