
$base-color-white: #fff;
$base-color-black: #ccc;

$base-color-01: #05668D;
$base-color-02: #028090;
$base-color-03: #00A896;
$base-color-04: #02C39A;
$base-color-05: #F0F3BD;
$base-color-06: #FAFAFF;